<!DOCTYPE html>
<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">

        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <script type="text/javascript">//<![CDATA[
            $(function () {
                $('#send_formid').click(function () {

                        const user_id=$('#my_uuid').val();
                        const customer_id=$('#your_uuid').val();

                        const sendData = {
                            user_id,
                            customer_id
                        };

                        var url = 'http://api.zhugeyingxiao.com/zhugeleida/xiaochengxu/test_login/user_send_template_msg';

                        $.post(url, sendData, function (data) {   //post请求

                          console.log('---- message -->: ' + data);    //打印出服务端返回过来的数据
                          $('#messagecontainer').prepend('<p>' + JSON.stringify(data) + '</p>');

                        })

                    })
                });


            $(function () {
                $('#create_token').click(function () {
                    //如果未连接到websocket

                        const authorization_appid=$('#authorization_appid').val();
                        const sendData = {
                            authorization_appid,
                        };

                        var url = 'http://api.zhugeyingxiao.com' + '/zhugeleida/public/create_token/xiaochengxu_authorizer_token';

                        $.post(url, sendData, function (data) {   //post请求

                          console.log('---- message -->: ' + data);    //打印出服务端返回过来的数据
                          $('#messagecontainer').prepend('<p>' + JSON.stringify(data) + '</p>');

                        })

                    })
                });


    //]]></script>
    </head>


    <body>
        <br>
{#        <h3> 小程序_消费formID,发送模板消息 </h3>#}
{#        <div>#}
{#            雷达用户 UID: <input type="text" id="my_uuid" value=""/>#}
{#        </div>#}
{#        <div style="margin-bottom: 20px">#}
{#            小程序客户 CID: <input type="text" id="your_uuid" value=""/>#}
{#            <button type="button" id="send_formid">消费formID</button>#}
{#        </div>#}
{##}
{#        <hr>#}
{##}
{#        <h3> 小程序_手动生成 authorizer_token </h3>#}
{#        <div>#}
{#            授权方appid: <input type="text" id="authorization_appid" value=""/>#}
{#            <button type="button" id="create_token">点击生成</button>#}
{#        </div>#}

{#        <input type="text" id="message" value=""/>#}

        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron well">

                        <p>
                            审核用户入库【医美雷达测试】
                        </p>

                    </div> <button type="button" class="btn btn-block active btn-lg btn-primary">按钮</button>
                    <div class="alert alert-success alert-dismissable">
                         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            注意!
                        </h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
                    </div>
                </div>
            </div>
        </div>


{#        <h3 style="color: red">返回信息</h3>#}
{#        <div id="messagecontainer">#}
{##}
{#        </div>#}

    </body>
</html>