<!DOCTYPE html>
<html>
    <head>
        <title>django-websocket</title>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

        <script type="text/javascript">//<![CDATA[
            $(function () {
                $('#send_formid').click(function () {
                    //如果未连接到websocket

                        const user_id=$('#my_uuid').val();
                        const customer_id=$('#your_uuid').val();

                        const sendData = {
                            user_id,
                            customer_id
                        };

                        var url = 'http://api.zhugeyingxiao.com' + '/zhugeleida/xiaochengxu/test_login/user_send_template_msg';

                        $.post(url, sendData, function (data) {   //post请求

                          console.log('---- message -->: ' + data);    //打印出服务端返回过来的数据
                          $('#messagecontainer').prepend('<p>' + JSON.stringify(data) + '</p>');

                        })

                    })
                });


            $(function () {
                $('#create_token').click(function () {
                    //如果未连接到websocket

                        const authorization_appid=$('#authorization_appid').val();
                        const sendData = {
                            authorization_appid,
                        };

                        var url = 'http://api.zhugeyingxiao.com' + '/zhugeleida/public/create_token/authorizer_token';

                        $.post(url, sendData, function (data) {   //post请求

                          console.log('---- message -->: ' + data);    //打印出服务端返回过来的数据
                          $('#messagecontainer').prepend('<p>' + JSON.stringify(data) + '</p>');

                        })

                    })
                });


    //]]></script>
    </head>


    <body>
        <br>
        <h3> 手动生成小程序 authorizer_token </h3>
{#        <div>#}
{#            雷达用户 UID: <input type="text" id="my_uuid" value=""/>#}
{#        </div>#}
        <div style="margin-top: auto">
            小程序客户 CID: <input type="text" id="your_uuid" value=""/>
            <button type="button" id="send_formid">消费formID</button>
        </div>

        <hr>

        <h3> 手动生成小程序 authorizer_token </h3>
        <div>
            授权方appid: <input type="text" id="authorization_appid" value=""/>
            <button type="button" id="create_token">点击生成</button>
        </div>

{#        <input type="text" id="message" value=""/>#}



        <h3>返回信息</h3>
        <div id="messagecontainer">

        </div>

    </body>
</html>